:root {
  --primary-color: #00539c;
  --primary-light: #fcf1e7;
  --secondary-color: #75a9d6;
  --secondary-bg: #00539c;
  --font-color: #234969;
  --bg-color: #00539c;
  --header-top-bg: #3b7eff;
  --header-bottom-bg: #34568B;
  --heading-color: #1f2044;
  --border-radius: 6px;
  --border-radius-full: 15px;
  --border-color: transparent;
  --border-color-light: #ddd;
  --iframe-filter: grayscale(0%);
  --bg-grey: #f4f4f4;
  --bg-lightgrey: #f8f9fa;
  --btn-bg: #e2e8f0;
  --ggs: 1;
  --footer-bg: #101e3b;
  --nav-color: #ffffff;
  --nav-link: #00539c;
  --social-icon-bg: #00539c;
}

[data-theme="dark"] {
  --primary-color: #00539c;
  --primary-light: #7e4c45;
  --secondary-color: #00ADB5;
  --secondary-bg: #00ADB5;
  --font-color: #b7b7b7;
  --bg-color: #222831;
  --header-top-bg: #393e46;
  --heading-color: #eee;
  --border-color: rgba(255, 255, 255, 0.2);
  --border-color-light: rgba(255, 255, 255, 0.2);
  --iframe-filter: grayscale(100%);
  --bg-grey: #0b0d0e;
  --bg-lightgrey: #000;
  --btn-bg: #2a2a2a;
  --ggs: 1;
  --footer-bg: #393E46;
  --nav-color: #eeeeee;
  --nav-link: #00ADB5;
  --social-icon-bg: #00ADB5;
}

[data-theme="dark"] img {
  filter: brightness(0.8) contrast(1.2);
}

[data-theme='dark'] [data-hide-on-theme='dark'],
[data-theme='light'] [data-hide-on-theme='light'] {
  display: none;
}


button.set-light, button.set-dark {
  background-color: transparent;
  border: none;
}